/JaqpotDomain/target/
/JaqpotCoreServices/target/
/Jaqpot/target/
/JaqpotDomain/nb-configuration.xml
/JaqpotCoreServices/nb-configuration.xml
/JaqpotDomain/src/main/resources/META-INF/jboss.xml
/JaqpotEAR/target/
/JaqpotEAR/src/main/application/META-INF/jboss-app.xml
/JaqpotDB/target/
/JaqpotAlgorithmServices/target/
/JaqpotDB/nb-configuration.xml
/JaqpotDB/src/main/resources/META-INF/jboss.xml
/JaqpotAlgorithmServices/nb-configuration.xml