<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>JaqpotQuattroLocal</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>           
            <properties>
                <swagger.path>http://localhost:8080/jaqpot/services</swagger.path>
                <server.base>http://localhost:8080/jaqpot/services</server.base>
            </properties>
        </profile> 
    </profiles>

</settings>
